html,
body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  padding: 0;
}

main {
  width: 100vw;
  min-height: calc(100vh - var(--app-footer-height) - var(--app-header-height));
  margin-top: var(--app-header-height);
}

:root {
  --app-footer-height: 185px;
}

.app-header {
  top: 0;
}
