.emoji {
  font-size: var(--f800);
}

.addressLink {
  color: var(--obj-secondary-dark);
  font-family: var(--font-inter);
  font-size: var(--f300);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
